.App {
  height: auto;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}


body {
  padding: 0%;
  margin: 0%;
}

.cryptoHeader {
  width: 100%;
  height: 250px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cryptoHeader h1 {
  color: whitesmoke;
  font-size: 50px;
}

.cryptoHeader input {
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 10px;
}

.cryptoDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

 a { 
  text-decoration: none !important;
}

.coin {
  width: 75%;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(2, 0.2fr) repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: start;
  background-color: #fcf9c6;
  color: black;
  border-radius: 10px;
  text-align: center;
  border-bottom: 1px solid #d7d7d7;
  padding: 10px;
}
.hoverEffect:hover { 
  transform:scale(1.02);
  transition: all 0.2s;
}
.coin .rank {
  margin-left: 10px;
}
.coin h1 {
  font-size: 20px;
}
.coin h3 {
  font-size: 16px;
  font-weight: normal;
}

.coin img {
  height: 30px;
  align-self: center;
  margin-left: 10px;
  align-self: center;
}

.green {
  color: green;
  margin-left: 5px;
}
.red {
  color: red;
}

@media screen and (max-width: 425px) {
  .App {
    overflow-x: hidden;
  }
  .coin {
    width: 100%;
  }
}

@media screen and (max-width: 360px){
  .coin h1 {
    font-size: 16px;
  }
  .coin h3 {
    font-size: 14px;
    font-weight: normal;
  }
  
  .coin img {
    height: 20px;
    align-self: center;
    margin-left: 10px;
    align-self: center;
  }
}